@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
}

header{
    margin: 44px 0px 0px 50px;
}

.link-header{
    font-family: "Montserrat", sans-serif;
    font-size: 24px; 
    margin-left: 24px;  
    color:  rgba(152, 157, 156, 1);
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
}

.link-header:hover{
    color: rgb(161, 247, 247);
    transform: scale(1.1);
}


.button-log{
    width: 130px;
    height: 41px;
    border-radius: 50px;
    margin-left: 24px;
    background-color:rgba(102, 90, 225, 1);
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.5s;
}

.button-log:hover{
    transform: scale(1.1);
}

#all-content{
    width: 99%;
    display: flex;
    margin-top: 45px;
}

.logo-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-woman-puppy{
    width: 568px;
    height: 500px;
    margin-left: 125px;
}

main{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 10px;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    color: rgba(81, 81, 81, 1);
    margin-left: 86px;
    font-weight: 900;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 58px;
    color: rgba(81, 81, 81, 1);
    margin-left: 86px;
    font-weight: 500;
}

p{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    color: rgba(132, 132, 132, 1);
    text-align: left;
    margin-left: 86px;
    height: 87px;
    margin-top: 32px;
}

.button-explore{
    width: 239px;
    height: 64px;
    margin-top: 65px;
    margin-left: 86px;
    border: none;
    border-radius: 50px;
    background-color: rgba(173, 255, 0, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: rgba(0, 0, 0, 1);
    line-height: 34.13px;
    font-weight: 700;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.5s;
}

.button-explore:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 2560px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .link-header{
        font-size: 35px; 
        margin-left: 15px;  
        color:  rgba(152, 157, 156, 1);
        font-weight: 600;
        display: inline-block;
    }

    .button-log{
        width: 200px;
        height: 61px;
        font-size: 34px;
    }

    #all-content{
        width: 100%;
        height: auto;
        display: flex;
    }

    .logo-img{
        width: 50%;
        height: auto;
        margin: 0px;
    }

    .logo-woman-puppy{
        width: 100%;
        height: auto;
    }

    main{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 180px;
    }

    h2{
        font-size: 100px;
    }

    p{
        font-size: 37px;
        margin-top: 5px;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .button-explore{
        width: 350px;
        height: 100px;
        font-size: 45px;
    }

}

@media screen and (max-width: 1368px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .link-header{
        font-size: 20px; 
        margin-left: 15px;  
        color:  rgba(152, 157, 156, 1);
        font-weight: 600;
        display: inline-block;
    }

    .button-log{
        width: 130px;
        height: 41px;
        border-radius: 50px;
        margin-left: 24px;
        background-color:rgba(102, 90, 225, 1);
        border: none;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
        transition: 0.5s;
    }

    #all-content{
        width: 100%;
        height: auto;
        display: flex;
    }

    .logo-img{
        width: 50%;
        height: auto;
        margin: 0px;
    }

    .logo-woman-puppy{
        width: 100%;
        height: auto;
    }

    main{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 80px;
    }

    h2{
        font-size: 49px;
    }

    p{
        font-size: 24px;
        margin-top: 5px;
    }

    .button-explore{
        width: 239px;
        height: 64px;
        margin-top: 65px;
        margin-left: 86px;
        border: none;
        border-radius: 50px;
        background-color: rgba(173, 255, 0, 1);
        font-family: "Montserrat", sans-serif;
        font-size: 28px;
        color: rgba(0, 0, 0, 1);
        line-height: 34.13px;
        font-weight: 700;
        box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.5s;
    }

}

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .link-header{
        font-size: 20px; 
        margin-left: 15px;  
        color:  rgba(152, 157, 156, 1);
        font-weight: 600;
        display: inline-block;
    }

    #all-content{
        width: 100%;
        height: auto;
        display: flex;
    }

    .logo-img{
        width: 50%;
        height: auto;
        margin: 0px;
    }

    .logo-woman-puppy{
        width: 100%;
        height: auto;
    }

    main{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 80px;
    }

    h2{
        font-size: 49px;
    }

    p{
        font-size: 24px;
        margin-top: 5px;
    }

    .button-explore{
        width: 270px;
        height: 80px;
    }

}

@media screen and (max-width: 1024px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .link-header{
        font-size: 20px; 
        margin-left: 15px;  
        color:  rgba(152, 157, 156, 1);
        font-weight: 600;
        display: inline-block;
    }

    #all-content{
        width: 100%;
        height: auto;
        display: flex;
    }

    .logo-img{
        width: 50%;
        height: auto;
        margin: 0px;
    }

    .logo-woman-puppy{
        width: 100%;
        height: auto;
    }

    main{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 29px;
    }

    p{
        font-size: 20px;
        margin-top: 5px;
    }

}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .link-header{
        font-size: 20px; 
        margin-left: 15px;  
        color:  rgba(152, 157, 156, 1);
        font-weight: 600;
        display: inline-block;
    }

    #all-content{
        width: 100%;
        height: auto;
        display: flex;
    }

    .logo-img{
        width: 50%;
        height: auto;
        margin: 0px;
    }

    .logo-woman-puppy{
        width: 100%;
        height: auto;
    }

    main{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 50px;
    }

    h2{
        font-size: 29px;
    }

    p{
        font-size: 18px;
        margin-top: 5px;
    }

}

@media screen and (max-width: 480px) {
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    header{
        display: none;
    }

    p{
        display: none;
    }

    #all-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 124px;
    }

    .logo-img{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-woman-puppy{
        width: 90%;
        height: auto;
        display: block;
        margin: 0px;
    }

    main{
        width: 100%;
        height: auto;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 50px;
        font-weight: 900;
        margin: 0px 0px 0px 0px;
    }

    h2{
        font-size: 30px;
        font-weight: 500;
        margin: 7px 0px 0px 0px;
    }

    .button-explore{
        width: 65%;
        height: 64px;
        margin: 17px 0px 0px 0px;
        font-size: 32px;
        font-weight: 700;
    }
}
